<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada para a entrega, confira os detalhes abaixo: </p>
<p>
  <strong>Destinátario: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />

</p>
